*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background-image: url(https://64.media.tumblr.com/22a4c98f65d1241fde7be0299e3289e7/49f0582d0d0f904d-fc/s1280x1920/82917628a77713b8deab6fe97e5e16079a1aa6be.png);
    background-size: 300px;
    text-align: center;
}

h1,h2{
    color: rgba(225, 178, 22, 0.938);
    font-family: 'Luminari';
    text-shadow: 2px 2px rgba(12, 83, 10, 0.67);
    
}

 img{
    display: flex;
 }