img{
    width: 200px;
    cursor: pointer;
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-right: 0%;
      
    }
    to {
      margin-left: 100%;
      
    }
  }