img {
    width: 200px;
    cursor: pointer;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-right: 0%;

    }

    to {
        margin-left: 100%;

    }
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
}