img {
    width: 200px;
    cursor: pointer;
    animation-duration: 4s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
        margin-right: 0%;
    }

    to {
        margin-left: 100%;
    }
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
}