* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url("/projects/final/images/pexels-james-wheeler-1486976.jpg") no-repeat center center fixed;
    background-size: cover;
}

#strid {
    max-width: 40%;
    margin-left: 0;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 2vw;
    padding-top: 1rem;
    position: absolute;
    margin-top: 0;
    margin-left: 30%;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 2vw;
    padding-top: 1rem;
}

@media screen and (max-width: 450px) {
    header {
        font-size: 30px;
    }
}

div {
    display: flex;
    flex-wrap: wrap;
}

#sign {
    position: sticky;
    transform: translate(4rem, 20rem);
}

#sign img {
    width: 100%;
}