* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    font-size: 1vw;
    color:darkmagenta;
}
div{
    display: flex;
    flex-wrap: wrap;
}
img{
    width: 100%;
}