* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 2vw;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-size: 1vw;
    color:darkmagenta;
}

img, a{
    width: 100%;
    max-width: 20vw;
}