@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html {
  scroll-behavior: smooth;
}
:root {
  --color-header: #6c25be;
  --color-bg-header-footer: #be6d25;
  --margin-img: 100%;
  --font-header:'Bangers', sans-serif;
  --color-p: #25be6d;
  --font-p: 'Acme', sans-serif;
  
}

body{
  margin: 0 auto;
  max-width: 80rem;
  padding: 1rem;
  background-color: var(--color-p);
}
header {
  background-color: var(--color-bg-header-footer);
  color: var(--color-header);
  text-align: center;
  font-family: var(--font-header);
  padding: 2rem;
  font-size: 2rem;
}
nav a {
	font-size: 2rem;
  padding: 2rem;
  color: var(--color-header);
  font-family: var(--font-header);
  display: block;
}
header img{
  width: 100%;
  margin: 0 auto;
}
img{
   width: 60%;
   margin: 0 auto;
  display: block;
  padding: 1rem;
  }
section iframe{
  margin: 0 auto;
 width: 60%;
  display: block;
}

section h1, h3{
  font-family: var(--font-header);
  color: var(--color-header);
  margin: 1rem;
  font-size: 3rem;
}
section p{
  font-family: var(--font-p);
  font-size: 1.5rem;
  color: white;
}
footer{
  font-family: var(--font-p);
  font-size: 1.25rem;
  background-color: var(--color-bg-header-footer);
  margin: 0 auto;
  display: block;
  text-align: center;
  max-width: 40rem;
}

#exception{
  margin-top: 200rem;
}